@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Righteous&family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
}

/* ########## PROJECTS SECTION ######### */

.contact {
    padding-top: 10vw;
    height: calc(100vh - 10vw);
    transition: opacity 0.5s ease;
}
.contact .title p{
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.8rem;
    margin-top: 2.5vw;
}
.contact .inputs{
    display: flex;
    flex-direction: column;
}
.contact input,
.contact textarea{
    background-color: #d6e2e745;
    border: 1px solid #030014;
    height: 3vw;
    width: 25vw;
    margin-top: 2.5vw;
    border-radius: 1vw;
    margin-left: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    /* font-family: 'Open sans'; */
    font-weight: 400;
    font-size: 0.8rem;
    color: #d6e2e7;
    letter-spacing: 0.1vw;
}
.contact input:focus,
.contact textarea:focus {
    outline: none; 
    background-color: #d6e2e765;
    border: 1px solid #00a4ed;
}

.contact textarea{
    height: 20vw;
    padding: 1vw;
    resize: none;
}
.contact button{
    background-color: #03001400;
    color: #d6e2e7;
    font-family: 'Righteous';
    border: none;
    font-size: 0.8rem;
    transition: 0.2s;
    margin-left: 30vw;
    letter-spacing: 0.2vw;
}
.contact button:hover{
    color: #00a4ed;
    transform: scale(1.1);
}

.hexagons{
    position: relative;
    top: -39vw;
    left: 41vw;
    z-index: -1;
    display: flex;
    align-items: center;
    transform: scale(.99);
    transform: scale(.80);
}
.hexagons:after{
    position: absolute;
    content: "";
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-30deg, #030014 30%, #03001400 60%);
}
.col{
    margin-right: -.975vw;
}
.hexa1 {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    -moz-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    -ms-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
    width: 5.72vw;
    height: 4.94vw;
    padding: 0.1vw;
    background-image: linear-gradient(-30deg, #00a4ed00, #ffffff 70%);
    margin-top: 0.52vw;
    opacity: 0; /* hexagons originally start as nonvisible until section is observed */
    transition: 0.5s;
}

/* Dark Border */
.hexa2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    -moz-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    -ms-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
    background-color: #030014;
    width: 100%;
    height: 100%;
}

/* Gradient Background top-left */
.hexa2:before {
    position: absolute;
    content: "";
    z-index: 1;
    top: 50%;
    left: 50%;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    -moz-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    -ms-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
    background-image: linear-gradient(-30deg, #00a4ed, #030014 80%);
    width: 95%;
    height: 95%;
}


/* Glare on indvidual hexagons */
.hexa2:after {
    position: absolute;
    content: "";
    z-index: 1;
    top: 0vw;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(circle at right bottom, transparent 70%, rgba(255, 255, 255, 0.45) 80%, transparent);
}


/* Glare on all hexagon */
.hexa1:after {
    position: absolute;
    content: "";
    z-index: 1;
    top: 0vw;
    bottom: 0;
    left: 0;
    right: 40vw;
    background: radial-gradient(circle at right bottom, transparent 65%, rgba(255, 255, 255, 0.35) 20%, transparent);
}




