@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Righteous&family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
}

/* ########## PROJECTS SECTION ######### */

.contact {
    padding-top: 10vw;
    height: calc(100vh - 10vw);
    transition: opacity 0.5s ease;
}
.contact form{
    margin-left: 18vw;
}
.contact .title p{
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2vw;
}
.contact .title :nth-child(2){
    margin-top: 2.25vw;
}
.contact .inputs{
    display: flex;
    flex-direction: column;
}
.contact input,
.contact textarea{
    background-color: #d6e2e745;
    border: 1px solid #030014;
    height: 3.25vw;
    width: 25vw;
    margin-top: 2vw;
    border-radius: 1.25vw;
    margin-left: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-weight: 400;
    font-size: 0.8rem;
    color: #d6e2e7;
    letter-spacing: 0.1vw;
    font-family: 'open sans';
}
.contact input:focus,
.contact textarea:focus {
    outline: none; 
    background-color: #d6e2e765;
    border: 1px solid #00a4ed;
}

.contact textarea{
    height: 17vw;
    padding: 1vw;
    resize: none;
}
/* .contact textarea:focus + .messageText{
        opacity: 10%;
} */
.contact .messageText{
    position: relative;
    bottom: 10.5vw;
    z-index: 1;
    text-align: center;
}
.contact button{
    background-color: #03001400;
    color: #d6e2e7;
    font-family: 'Righteous';
    border: none;
    font-size: 1.0rem;
    transition: 0.2s;
    margin-left: 26vw;
    letter-spacing: 0.2vw;
    width: 5vw;
    height: 2vw;
}
.contact button:hover{
    color: #00a4ed;
    transform: scale(1.1);
}






