@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Righteous&family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans&display=swap');

*{
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
}

/* 
########## COLORS #########
background #030014
text #d6e2e7
blue #00a4ed
purple #c300ff
green #4db843
grey logos #6a6a6a

OPACITY
.25 button background
.25 tags
.30 section title
.50 button border
0.5 intro tags
.75 selected button border
.80 description

FONTSIZE
0.8rem descrittion
0.8rem project buttons
0.9rem tags
1.0rem nav buttons
2.5rem project title
6rem h1 section title
7rem h1 name

BORDER RADIUS
5px tags
3px device btn

BORDER WIDTH
1px
1.5px resume button


*/
html{
    font-size: 1.5vw;
    overflow-x: hidden;
}
body{
    background-color: #030014;
    color: #d6e2e7;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2vw;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    transition: .2s;
}
.flex{
    display: flex;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.desktop-hide{
    display: none !important;
}

/*########## MAIN CONTENT#########*/
.main-content{
    margin-left: 17.5vw;
    margin-right: 2.5vw;
    height: 100%;

}

/*########## NAV BAR #########*/
.nav{
    position: absolute;
    bottom: 0;
    z-index: 99;
    justify-content: flex-end;
    font-size: 0.90rem;
    width: 100%;
    height: 50px;
    padding-top: 20px;
}


.nav .links{
    position: absolute;
    display: flex;
    gap: 4vw;
    font-size: 0.8rem;
    font-weight: 600;
}
.nav a{
    color: white;
}
.nav i{
    position: absolute;
    right: 8.75vw;
    top: 0.3vw;
}
.nav button{
    background-color: #03001400;
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: white !important;
    font-size: 0.80rem;
    letter-spacing: 0.2vw;
    transition: 0.2s;
    margin-right: 3vw;
    font-weight: 600;
}
.nav button:hover{
    cursor: pointer;
    color: white;
}


/* ########## SLIDER ######### */
.slider{
    position: fixed;
    top: 7.25vw;
    left: 3vw;
    width: 3vw;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider .top{
    background: linear-gradient(180deg, #00a4ed, #c300ff);
    width: 2px;
    height: 2vw;
}
.slider .bottom{
    background: linear-gradient(0deg, #00a4ed, #c300ff);
    width: 2px;
    height: calc(100vh - 17vw);
}
.slider img{
    width: 3vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
.sectionTitle {
    display: none;
    position: fixed;
    left: 4.5vw;
    bottom: 3vw;
    z-index: -1;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: calc(100vh - 9vw);
    opacity: 30%;
    font-size: 6rem;
    letter-spacing: 0.25vw;
    transition: opacity 0.5s ease;
}

