@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Righteous&family=Roboto+Mono:wght@700&display=swap');

*{
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
}

/* 
########## COLORS #########
background #030014
text #d6e2e7
blue #00a4ed
purple #c300ff
section title #d6e2e7 25%

OPACITY
.25 button background
.25 tags
.30 section title
.50 button border
.75 selected button border
.80 description

FONTSIZE
0.8rem descrittion
0.8rem project buttons
0.9rem tags
1.0rem nav buttons
2.5rem project title
6rem h1 section title
7rem h1 name

BORDER RADIUS
5px tags
3px device btn

BORDER WIDTH
1px
1.5px resume button


*/
html{
    font-size: 1.5vw;
}
body{
    height: 600vh;
    background-color: #030014;
    color: #d6e2e7;
    font-family: 'Righteous';
    letter-spacing: 0.2vw;
    /* box-sizing: border-box; */
}
a{
    color: #d6e2e7;
    text-decoration: none;
    transition: .2s;
}
a:hover{
    color: white !important;
    transform: scale(1.1) !important;
}
.flex{
    display: flex;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*########## MAIN CONTENT#########*/
.main-content{
    margin-left: 17.5vw;
    margin-right: 2.5vw;
    height: 100%;
    /* border: 1px solid white; */
}

/*########## NAV BAR #########*/
.nav{
    position: fixed;
    z-index: 99;
    justify-content: flex-end;
    padding-top: 2.25vw;
    width: 100%;
    height: 10vw;
    background: linear-gradient(180deg, #030014 10%, #03001400);
    gap: 1vw;
}
.nav .links{
    position: absolute;
    left: 15vw;
    display: flex;
    gap: 6vw;
    opacity: 80%;
}
.nav button{
    background-color: #03001400;
    border: none;
    font-family: 'Righteous';
    color: #d6e2e7;
    font-size: 1.0rem;
    letter-spacing: 2.5px;
    transition: 0.2s;
    margin-right: 2vw;
    height: 2vw;
}
.nav img{
    width: 2.75vw;
    height: 2.75vw;
    margin-top: -.25vw;
}
.nav button:hover{
    cursor: pointer;
    color: white;
    transform: scale(1.1);
}

/* ########## SLIDER ######### */
.slider{
    position: fixed;
    top: 6vw;
    left: 3vw;
    width: 3vw;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1vw; */
}
.slider .top{
    background: linear-gradient(180deg, #00a4ed, #c300ff);
    width: 2px;
    height: 2vw;
    /* height: calc(100vh - 9vw); */
}
.slider .bottom{
    background: linear-gradient(0deg, #00a4ed, #c300ff);
    width: 2px;
    /* height: 2vw; */
    height: calc(100vh - 17vw);
}
.slider a{
    height: 3vw;
    width: 3vw;
}
.slider img{
    width: 3vw;
}
.slider .linkedin{
    transform: scale(0.8);
}
.sectionTitle {
    display: none;
    position: fixed;
    left: 4.5vw;
    bottom: 3vw;
    z-index: 99;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: calc(100vh - 9vw);
    opacity: 30%;
    font-size: 6rem;
    letter-spacing: 1vw;
    transition: opacity 0.5s ease;
}

