@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Righteous&family=Roboto+Mono:wght@700&display=swap');

*{
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
}

/* ########## INTRO SECTION ######### */
.intro{
    width: 100%;
    height: 100lvh;
    transition: 0.5s ease;
}
.intro .title{
    position: absolute;
    top: 5.5vw;
    left: 10vw;
}

.intro .description{
    position: relative;
    z-index: 10;
    font-family: 'Open Sans', sans-serif;
    width: 47vw;
    letter-spacing: -.05vw;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1vw;
    width: 74vw;
    line-height: 5vw;
    opacity: 0.9;
    /* background-color: red; */
}
.intro .list{
    font-size: .91rem;
    margin-top: 2vw;
    opacity: 0.5;
    font-weight: 600;
}
.intro .links{
    margin-top: 3vw;
}
.intro .links i{
    font-size: 1.75rem;
    margin-right: 1vw;
    opacity: 0.9;
}
.intro a{
    color: #d6e2e7;
}
.intro a:hover{
    color: #ffffff;
}
.intro .gradient{
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(#c300ff, #030014);
    opacity: 0.10;
    width: 40vw;
    height: 100lvh;
}

.intro .arrows{
    position: absolute;
    bottom: 0vw;
    left: 52vw;
    width: 5vw;
    height: 10vw;
}
.intro .arrows a{
    display: flex;
    flex-direction: column;
}
.intro .arrows i{
    font-size: 3rem;
    margin-top: -3vw;
    transition: 0.5s ease;
}

.intro .arrow1{
    color: #c300ff;
    opacity: 0.25;
}
.intro .arrow2{
    color: #c300ff;
    opacity: 0.5;
}
.intro .arrow3{
    color: #c300ff;
}