@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Righteous&family=Roboto+Mono:wght@700&display=swap');

* {
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
}

/* ########## MOBILE ######### */
@media (max-width: 600px) {
    html {
        font-size: 4vw;
    }

    body {
        letter-spacing: 0.65vw;
    }

    /* ########## BAR AND SLIDER ######### */
    .nav {
        height: 20vw;
        background: linear-gradient(180deg, #030014 30%, #03001400);
        font-size: 1.2rem;
    }

    .nav .links {
        /* gap: 10vw; */
        margin-top: 4vw;
    }

    .nav button,
    .nav img {
        display: none;
    }

    .sectionTitle {
        font-size: 3.5rem;
        margin-bottom: 6vw;
    }

    .slider .github,
    .slider .linkedin {
        display: none;
    }
    /* ########## INTRO ######### */
    .intro img {
        height: 100vh !important;
    }

    .intro .title {
        top: 15vh !important;
    }

    .intro .title p {
        /* font-size: .75rem; */
    }

    .intro h1 {
        font-size: 2.5rem !important;
    }

    .intro .tags {
        display: block !important;
        position: absolute;
        font-size: 1.25rem;
        top: 75vh;
        left: 10vw;
        opacity: 50%;
        transition: 0.5s;
    }

    .intro .satellite1{
        width: 45vw !important;
        height: 45vw !important;
    }
    .intro .satellite2{
        width: 12vw !important;
        height: 8vw !important;
    }
    .intro img{
        margin-top: 105vw;
        margin-left: -25vw;
    }
    /* When screen width AND height is small */
    @media (max-height: 400px) {
        .intro .tags {
            opacity: 0;
        }
    }

    /* ########## PROJECTS ######### */
    .project {
        padding-top: 30vw !important;
        padding-bottom: 27vw !important;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .project-title-mobile {
        display: block !important;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vw;
    }

    .project-title {
        margin-bottom: -4vw;
    }

    .info .project-title {
        display: none;
    }

    .project-title img {
        width: 20vw !important;
        width: calc(10.5vw * 2.67) !important;
        margin-left: 4vw !important;
        margin-top: -9.5vw !important;
    }

    .project .background {
        display: none;
    }

    .background-mobile {
        display: block !important;
        z-index: -1;
        margin-top: 30vw !important;
        margin-left: -0vw !important;
    }

    .background-mobile {
        transform: scale(2);
    }

    .background-mobile {
        transform: scale(2);
        z-index: 1;
    }

    .project .display {
        width: 65vw;
    }

    .project .blackout{
        margin-left: 2vw !important;
        width: 38vw !important;
        height: 10vw !important;
    }

    .display .buttons {
        margin-top: 16vw;
    }

    .macbook-btn,
    .iphone-btn {
        width: 12.5vw !important;
        height: 12.5vw !important;
    }

    .display .buttons img {
        width: 10vw !important;
        height: 10vw !important;
    }

    .info {
        width: 65vw !important;
    }

    .info .tags {
        width: 100% !important;
        margin-top: 5vw;
    }

    .info .tags p {
        width: 22vw !important;
        height: 6vw !important;
    }

    .info .description {
        margin-top: 4vw !important;
    }

    .info .buttons {
        margin-top: 15vw !important;
        font-size: 1.5rem;
        gap: 2vw !important;
    }

    .info .buttons img {
        width: 15vw !important;
        opacity: 0.3 !important;
    }

    .buttons p {
        font: .45rem;
    }

    /* PROJECT-EVEN */
    .project-even {
        flex-wrap: wrap-reverse;
    }

    .project-even .display .buttons {
        margin-bottom: 5vw;
    }

    /* ########## TOOLBOX ######### */
    .toolbox .desktop {
        display: none;
    }

    .toolbox .mobile {
        display: block !important;
    }

    .toolbox {
        padding-top: 17vw !important;
        padding-left: 5vw;
        min-height: 100vh;
    }

    .toolbox .cards {
        margin-top: 0 !important;
        margin-top: -6vw !important;
    }

    .toolbox .card {
        width: 33vw !important;
        height: 50vw !important;
    }

    .toolbox .card-1,
    .toolbox .card-4 {
        margin-top: 14vw;
    }


    .toolbox .card-3,
    .toolbox .card-4,
    .toolbox .card-3 .content-wrapper,
    .toolbox .card-4 .content-wrapper {
        transform: none !important;
    }

    .toolbox .row1,
    .toolbox .row2 {
        margin: 0 !important;
        display: block !important;
    }

    .toolbox .row2 {
        margin-top: -14vw !important;
    }

    .toolbox .top-row {
        text-align: end;
    }

    .toolbox .row1 img,
    .toolbox .row2 img {
        transform: scale(1.75);
        transform-origin: left;
        margin-top: 3vw;
    }

    .toolbox .row2 img {
        margin-top: 3.4vw;
    }

    .toolbox .top-row img {
        transform-origin: right;
    }

    .toolbox .mysql {
        margin-right: 18vw;
    }

    .toolbox .node {
        margin-left: 15vw;
    }

    .toolbox .mongo {
        margin-right: 14vw !important;
    }

    .toolbox .react {
        margin-left: 12vw;
    }

    .toolbox .card img {
        height: 9vw !important;
        margin-top: 3vw !important;
    }

    .toolbox .title {
        margin-top: 2vw !important;
    }

    .toolbox .list {
        margin-top: 3vw !important;
    }


    /* ########## CONTACT ######### */
    .contact{
        /* background-color: wheat; */
        height: 70vh !important;
    }
    .contact form{
        position: relative;
        width: 60vw;
        padding-top: 5vw !important;
        /* background-color: red; */
    }
    .contact form p{
        font-size: 1rem !important;
    }
    .contact input,
    .contact textarea{
        width: 59vw !important;
    }
    .contact input{
        height: 8vw !important;
    }
    .contact textarea{
        height: 40vw !important;
    }
    .contact p{
        display: block !important;
        margin-left: 2vw;
        margin-top: 5vw;
        font-size: 1.5rem;
    }
    .contact button{
        margin-top: 2vw !important;
        font-size: 1rem !important;
        height: 7vw !important;
        width: 14vw !important;
    }
    /* .contact .title p{
        margin-top: 13vw !important;
    } */
}