@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Righteous&family=Roboto+Mono:wght@700&display=swap');
*{
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
}

/* ########## PROJECTS SECTION ######### */

.projects{
    opacity: 0;
    transition: opacity 0.5s ease;
}
.project{
    padding-top: 10vw;
    padding-bottom: 5vw;
    display: flex;
}
.project-odd{
    background-image: linear-gradient(90deg, #030014, #32f5a912);
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
}
.project-even{
    background-image: linear-gradient(270deg, #030014, #32f5a912);
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
}

/* Display */
.display{
    width: 45vw;
}
.device{
    display: flex;
    justify-content: center;
    height: 30vw;
}
.device .macbook{
    width: 100%;
    margin-bottom: .85vw;
    transition: transform 0.3s ease;
}

.device .iphone{
    width: 70%;
    transition: transform 0.3s ease;
}
.device a:hover{
    transform: none !important;
}

.iphone .project-sceenshot{
    position: absolute;
    z-index: -1;
    width: 95%;
    margin-left: 1vw;
    /* border-radius: 50px 50px 40px 40px; */
    border-radius: 5vw;
    margin-top: 0.9vw;
}
.iphone-img{
    width: 100%;
}
/* Glare on iphone */
.iphone:after {
    background: radial-gradient(circle at right bottom, transparent 75%, rgba(255, 255, 255, 0.35) 80%, transparent);
    bottom: 0;
    content: "";
    z-index: -1;
    left: 1vw;
    top: 1.5vw;
    position: absolute;
    right: 0;
}
.iphone .gradient{
    position: absolute;
    background: linear-gradient(0deg, #030014 20%, #03001400);
    width: 99%;
    height: 10vw;
    margin-top: -8vw;
    border-radius: 0 0 40px 40px;
}
.display .buttons{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.macbook-btn, 
.iphone-btn{
    width: 5vw;
    height: 5vw;
    border: 1px solid #d6e2e750;
    transition: background-color .5s ease;
    transition: .2s;
}
.macbook-btn:hover, 
.iphone-btn:hover{
    cursor: pointer;
    border: 1px solid #d6e2e775 !important;
}
.macbook-btn{
    border-radius: 3px 0px 0px 3px;
    background-color: #d6e2e725;
    border: 1px solid #d6e2e775;
}
.iphone-btn{
    border-radius: 0px 3px 3px 0px;
}
.display .buttons img{
    width: 4vw;
    height: 4vw;
    opacity: 80%;
}

/* Info */
.info{
    width: 35vw;
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    margin-right: 2vw;
}
.project-title{
    font-family: 'Open sans';
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 0vw;
    color: #32f5a9;
}
.project-title span{
    color: #d6e2e7;
}

.project-title a:hover{
    color: #ffffff;
}

.project-title .gradient{
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg, #030014 20%, #03001400);
}
.info .tags{
    display: flex;
    gap: .5vw;
    width: 28.35vw;
    margin-top: 1vw;
}

.info .tags p{
    border-radius: 3px;
    padding-left: 0.75vw;
    padding-right: 0.75vw;
    height: 2.5vw;
    font-size: 0.6rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #32f5a9;
    background-color: #ffffff05;
}
.info .description p{
    font-weight: 300;
    font-size: 0.9rem;
    opacity: 80%;
    margin-top: 2vw;
}
.info .header {
    font-size: 1.8rem !important;
    letter-spacing: -.05vw;
    font-weight: 600 !important;
    line-height: 3.25vw;
}
.info .site-link,
.info .github-link{
    display: flex;
    margin-top: 2vw;
}
.info a{
    color: #d6e2e7;
    font-size: 0.8rem;
}
.info a span{
    color: #32f5a9;
    font-weight: 600;
}
.info i{
    font-size: 1.5rem;
}
.info .arrow{
    margin-right: -1.25vw;
}
.info .site-link .arrows{
    margin-top: -0.25vw;
}
.info .site-link .arrow1{
    color: #32f5a9;
    opacity: 0.25;
}
.info .site-link .arrow2{
    color: #32f5a9;
    opacity: 0.5;
}
.info .site-link .arrow3{
    color: #32f5a9;
}
.info .github-link .arrow1{
    opacity: 0.25;
}
.info .github-link .arrow2{
    opacity: 0.5;
}
