*{
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}
.hide{
    visibility: hidden;
}


/* NAV BAR */
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(222, 221, 221);
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
#box-button{
    height: 20px;
    width: 20px;
    /* margin-top: 5px; */
    margin-left: -5px;
}
.box-top, .box-bottom, .box-middle{
    height: 33.2%;
    display: flex;
    justify-content: space-around;
}
#box-button span{
    width: 20%;
    height: 60%;
    background-color: grey;
}
#nav img{
    height: 30px;
    border-radius: 50%;
}
#nav .name{
    margin-left: -10px;
}
#nav .hide{
    width: 600px;
}
#nav p{
    height: 20px;
}


 /* BANNER TOP */
#banner .top{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    /* background-color: rgb(240, 240, 240); */
}
#banner .top img{
    height: 270px;
    width: 270px;
    border-radius: 50%;
}
.top .quote {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
p.top, p.middle{
    font-size: 25px;
    margin-right: 55px;
}
.quote .middle{
    width: 500px;
    align-self: flex-end;
    /* margin-top: -10px; */
}
.quote .bottom{
    width: 200px;
    align-self: flex-end;
    margin-right: 40px;
}
.quote span{
    font-size: 35px;
}
/* BANNER BOTTOM - REVIEW */
#review, #review2{
    height: 30px;
    display: flex;
    margin-top: 55px;
    margin-left: 200px;
}
#review-quote{
    font-size: 25px;
    margin-left: 10px;
}
#review-quote span{
    font-size: 30px;
}
#mom, #erik{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: 10px;
}
#banner .bottom .name{
    margin-left: 450px;
}
#review2 {
    margin-left: 500px;
}
#banner .name2{
    margin-left: 950px;
}
#erik{
    height: 100px;
    width: 100px;
    margin-top: -20px;
}
