@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Righteous&family=Roboto+Mono:wght@700&display=swap');
*{
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
}

/* ########## PROJECTS SECTION ######### */

.toolbox{
    padding-top: 6vw;
    transition: opacity 0.5s ease;
    background-color: white;
    height: 100vh; /*remove*/

}