@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Righteous&family=Roboto+Mono:wght@700&display=swap');

* {
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
}

/* ########## PROJECTS SECTION ######### */

.toolbox {
    padding-top: 8vw;
    padding-right: 2vw;
    transition: opacity 0.5s ease;
}

.toolbox .cards {
    display: flex;
    justify-content: space-between;
}

.toolbox .card {
    width: 17vw;
    border-radius: 4px;
    padding: 1px;
    height: 23vw;
}

.toolbox .card-1,
.toolbox .card-4{
    background-image: linear-gradient(-30deg, #030014 30%, #00a4ed);
}

.toolbox .card-2,
.toolbox .card-3{
    background-image: linear-gradient(-8deg, #030014 55%, #00a4ed);
}

.toolbox .card-3,
.toolbox .card-4{
    transform: scaleX(-1);
}

.toolbox .card-3 .content-wrapper,
.toolbox .card-4 .content-wrapper {
    transform: scaleX(-1);
}
.toolbox .content-wrapper {
    position: relative;
    background-image: linear-gradient(0deg, #03001400, #030014);
    height: 100%;
    border-radius: 4px;
    text-align: center;
}

/* Glare on card */
.toolbox .content-wrapper:after {
    position: absolute;
    content: "";
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(circle at right bottom, transparent 75%, rgba(255, 255, 255, 0.35) 80%, transparent);
    border-radius: 4px;
}
.toolbox .card img{
    height: 5vw;
    margin-top: 1.5vw;
    opacity: 0.3;
}
.toolbox i{
    font-size: 2rem;
    margin-top: 2vw;
    color: #1e3050;
}
.toolbox .title{
    font-family: 'Bungee', sans-serif;
    font-size: 1.0rem;
    color: white ;
    margin-top: 1vw;
    opacity: 0.8;
}
.toolbox .list{
    font-size: .8rem;
    opacity: 0.8;
    margin-top: 1.5vw;
    letter-spacing: 0.1vw;
}
.toolbox .list p{
    text-align: left;
    margin-top: 0.25vw;
}
.card-1 .list p{
    margin-left: 3vw;
}
.card-2 .list p{
    margin-left: 3.5vw;
}
.card-3 .list p{
    margin-left: 3vw;
}
.card-4 .list p{
    margin-left: 4vw;
}

.toolbox .row1,
.toolbox .row2 {
    display: flex;
    align-items: center;
    gap: 6vw;
    transform: scale(0.75);
}

.toolbox .row1 {
    justify-content: flex-start;
}

.toolbox .row2 {
    justify-content: flex-end;
    margin-top: 2vw;
}

.toolbox .row1 img,
.toolbox .row2 img {
    opacity: 0.3;
    width: 12vw;
}

.toolbox .python {
    width: 13vw !important;
}

.toolbox .node {
    margin-top: 1vw;
    opacity: 1.0 !important;
}

.toolbox .mysql {
    width: 11vw !important;
    margin-top: -3.5vw;
}

.toolbox .spring {}

.toolbox .flask {
    width: 14vw !important;
}

.toolbox .react {
    width: 14vw !important;
}

.toolbox .mongo {
    width: 15vw !important;
    margin-left: -2vw;
    margin-right: -2vw;
    margin-top: -0.5vw;
}

.toolbox .mui {
    opacity: 1.0 !important;
}

